<hr>
<footer class="footer mt-auto py-3">
    <div id="social" class="container">
        <div class="row text-center links-social">
        <div class="col-sm-4">
            <a href="https://twitter.com/JayBee2814" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i> Twitter
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://steamcommunity.com/id/jaybee2814/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-steam fa-2x" aria-hidden="true"></i> Steam
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://www.twitch.tv/jaybee_tv/" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-twitch fa-2x" aria-hidden="true"></i> Twitch
            </a>
        </div>
        </div>
    </div>
    <div class="container text-center mt-5 text-muted">
        <p>Created by <a href="https://twitter.com/jaybee2814" target="_blank" rel="noopener noreferrer">@jaybee2814</a> for absolutely no reason.</p>
    </div>
</footer>