/* style.css */

canvas {
  display: block;
  /* vertical-align: bottom; */
}

ul {
   list-style-type: none;
   padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.bg-dark {
   background-color: #000 !important;
}

.navbar-dark {
   color: #ffffff !important;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* Smart Scroll */
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}

/* link css */

.links-social a{
   color:black !important;
}

.links-social a:visited{
   color: black !important;
}



.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
   text-decoration: white;
   text-decoration-line: underline;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
   color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: .2rem solid transparent;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

#posts {
   flex-wrap: nowrap !important;
}

#content{
   z-index: 100;
}

.header-text {
   font-family: 'Syne Mono', monospace;
}

.header-sub-text {
   font-family: 'Source Code Pro', monospace;
}



@media (max-width: 992px) { 
   .display-2 {
      font-size: 3.5rem;
   }

   .display-4 {
      font-size: 2rem;
   }

   .row {
      margin-left: 0;
      margin-right: 0;
   }

   #about, #projects {
      padding-left: 4rem;
      padding-right: 4rem;
   }

   .navbar-brand {
      margin-left: 4rem;
   }

   .navbar-toggler {
      margin-right: 4rem;
   }

   .navbar-collapse{
      margin-left: 4rem;
   }
}

@media (min-width: 992px){
   .navbar-brand {
      margin-left: 42rem;
   }

   .navbar-nav {
      margin-right: 42rem;
   }
}

.footer-pin {
   position: absolute;
   bottom: 0;
   width: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}