<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- generics -->
    <link rel="icon" href="../assets/img/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="../assets/img/favicons/favicon-57.png" sizes="57x57">
    <link rel="icon" href="../assets/img/favicons/favicon-76.png" sizes="76x76">
    <link rel="icon" href="../assets/img/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="../assets/img/favicons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="../assets/img/favicons/favicon-192.png" sizes="192x192">
    <link rel="icon" href="../assets/img/favicons/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="../assets/img/favicons/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="../assets/img/favicons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../assets/img/favicons/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../assets/img/favicons/favicon-180.png" sizes="180x180">

    <!-- Windows 8  IE 10-->
    <meta name="msapplication-TileColor" content="#F4F4F4">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/favicon-144.png">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml" />


    <title>{{ page.title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href={{ "/assets/css/cover.css" | relative_url}} rel="stylesheet">
  </head>

  <body class="text-center">
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">
          <!-- Add link to home page here -->
          <a href=#>JB</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="https://twitter.com/jaybee2814" target="_blank" rel="noopener noreferrer">Twitter</a>
          <a class="nav-link" href="https://www.twitch.tv/jaybee_tv/" target="_blank" rel="noopener noreferrer">Twitch</a>
          <a class="nav-link" href="https://steamcommunity.com/id/jaybee2814/" target="_blank" rel="noopener noreferrer">Steam</a>
        </nav>
      </div>
    </header>

    {{ content }}

    {% include cover-footer.html %}
    </div>
    <div id="particles-js"></div>
    
    {% include cover-scripts.html %}
  

</body></html>
