<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{{ page.title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href={{ "/assets/css/cover.css" | relative_url}} rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">
          <!-- Add link to home page here -->
          <a href=#>JB</a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="https://twitter.com/jaybee2814">Twitter</a>
          <a class="nav-link" href="https://www.twitch.tv/jaybee_tv/">Twitch</a>
          <a class="nav-link" href="https://steamcommunity.com/id/jaybee2814/">Steam</a>
        </nav>
      </div>
    </header>

    {{ content }}

    {% include cover-footer.html %}
    </div>
    
    {% include cover-scripts.html %}
  

</body></html>
